<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayam Geprek Mang Iyok</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/homeStyle.css" />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rochester"
      rel="stylesheet"
    />
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- navigation -->
    <nav id="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#header" class="page-scroll">Home</a></li>
            <li><a href="#products" class="page-scroll">Menu</a></li>
            <li><a href="/order#order">Order</a></li>
            <li><a href="#contact" class="page-scroll">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- header -->
    <header id="header">
      <div class="intro">
        <div class="overlay">
          <div class="container">
            <div class="row">
              <div class="intro-text">
                <h1>Ayam Geprek Mang Iyok</h1>
                <p>Reservations: (+62) 822 1854 2511</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- menu -->
    <div class="container" id="products">
      <h2>Menu</h2>
      <div class="row justify-content-center">
        <!-- produk 1 -->
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img
              src="/img/ayamgeprek1.jpg"
              class="card-img-top"
              alt="Produk 1"
            />
            <div class="card-body">
              <h3 class="card-title">Paket Ayam Geprek</h3>
              <p class="card-text">1 Piece Ayam Geprek with Rice</p>
              <p class="card-price">Price: Rp. 15.000</p>
            </div>
          </div>
        </div>
        <!-- produk 2 -->
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img
              src="/img/ayamgeprek2.jpg"
              class="card-img-top"
              alt="Produk 2"
            />
            <div class="card-body">
              <h3 class="card-title">Ayam Geprek</h3>
              <p class="card-text">1 Piece Ayam Geprek without Rice</p>
              <p class="card-price">Price: Rp. 12.000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="order-link text-center">
        <a href="/order#order" id="order-here">Order Here!</a>
      </div>
    </div>
    <!-- contact -->
    <div id="contact" class="text-center">
      <h2>Contact Us</h2>
      <div class="container text-center">
        <div class="col-md-4">
          <h3>Reservations</h3>
          <div class="contact-item">
            <p>Please call or text</p>
            <p>(+62) 822 1854 2511</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Address</h3>
          <div class="contact-item">
            <p>Komplek Bandung Indah Raya</p>
            <p>C 10 No. 1</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Opening Hours</h3>
          <div class="contact-item">
            <p>Weekday: 09:00 AM - 07:30 PM</p>
            <p>Weekend: 09:00 AM - 09:00 PM</p>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div id="footer">
      <div class="container text-center">
        <p>&copy; 2023 Faisal Baqir Tahmidi</p>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
