<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selamat datang!</h1>
    <h3>Alamat: Komplek Bandung Indah Raya C 10 No. 1</h3>
    
    <h3>Produk</h3>
    <div class="product">
        <img src="product1.jpg" alt="Product 1">
        <h3>Paket Ayam Geprek</h3>
        <p>1 buah Ayam Geprek beserta Nasi</p>
        <p class="price">Rp. 15.000</p>
      </div>
      <div class="product">
        <img src="product2.jpg" alt="Product 2">
        <h3>Ayam Geprek</h3>
        <p>1 buah Ayam Geprek</p>
        <p class="price">Rp. 12.000</p>
      </div>
    <a href="/order">Order Here</a>
</body>
</html>